<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.naver.myhome4.mybatis.mapper.MaterialMapper">

<insert id="insertMaterial" parameterType="material">
		INSERT
		INTO MATERIAL
		VALUES(#{recipe_num},#{material_name},#{material_amount})
</insert>

<select id="getDetail" resultType="map">
		SELECT *
		FROM MATERIAL
		WHERE recipe_num = #{recipe_num}		
	</select>
	
<delete id="materialDelete">
 delete from material
    where recipe_num = #{recipe_num}
</delete>

<update id="materialModify">
		UPDATE material
		SET MATERIAL_NAME = #{material_name},MATERIAL_AMOUNT = #{material_amount}
		WHERE recipe_num = #{recipe_num}
	</update>
	<!-- #{STEP_NUM}, #{STEP_INDEX}, #{STEP_ORIGINAL, jdbcType=VARCHAR}, 
		#{STEP_DB, jdbcType=VARCHAR}, #{STEP_CONTENT} -->
</mapper>