<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.naver.myhome4.mybatis.mapper.RecipeMapper">
	
	<select id="getDetail" resultType="recipe">
		select *
		from recipe
		where recipe_num = #{num}
	</select>
	
	<select id="getSauce" resultType="recipeSauce">
		select *
		from sauce
		where recipe_num = #{num}
	</select>
	
	<select id="getMaterial" resultType="recipeMaterial">
		select *
		from material
		where recipe_num = #{num}
	</select>
	
	<select id="getCategory" resultType="category">
		select r5.*, vegetable.vegetable_name
		from (
		select r4.*, seafood.seafood_name
		from (
		select r3.*, cereals.cereals_name 
		from (
		    select r2.*, milk.milk_name
		    from (    
		        select r1.category_num, r1.recipe_num, meat.meat_name
		        from recipe_category r1 left outer join meat
		        on r1.category_num = meat.meat_num
		        where r1.recipe_num = #{num}) r2 left outer join milk 
		            on r2.category_num = milk.milk_num) r3 left outer join cereals
		                on r3.category_num = cereals.cereals_num) r4 left outer join seafood
		                    on r4.category_num = seafood.seafood_num) r5 left outer join vegetable
		                        on r5.category_num = vegetable.vegetable_num
	</select>
	
	<select id="isAddedToLikeListTable" resultType="int">
		select count(*)
		from like_list
		where member_id = #{member_id} and recipe_num = #{recipe_num}
	</select>
	
	<delete id="removeFromLikeListTable">
		delete 
		from like_list
		where member_id = #{member_id} and recipe_num = #{recipe_num}
	</delete>
	
	<insert id="addToLikeListTable">
		insert
		into like_list
		values(#{member_id}, #{recipe_num})
	</insert>
	
	<select id="isBested" resultType="int">
		select count(*)
		from best_list
		where member_id = #{member_id} and recipe_num = #{recipe_num}
	</select>
	
	<delete id="removeFromBestListTable">
		delete 
		from best_list 
		where member_id = #{member_id} and recipe_num = #{recipe_num}
	</delete>
	
	<update id="decreaseBestRecipe">
		update recipe
		set recipe_best = recipe_best - 1
		where recipe_num = #{recipe_num}
	</update>
	
	<insert id="addToBestListTable">
		insert
		into best_list
		values(#{member_id}, #{recipe_num})
	</insert>
	
	<update id="increaseBestRecipe">
		update recipe
		set recipe_best = recipe_best + 1
		where recipe_num = #{recipe_num}
	</update>
	
	<!-- 게시글의 추천 수 가져오기 -->
	<select id="getRecipeBestCount" resultType="int">
		select recipe_best
		from recipe
		where recipe_num = #{recipe_num}
	</select>
	
	
	
	
	
	<select id="getCategories" resultType="categoryRecipeView">
		select rc.*, ma.matall_name, ma.category_num as category
		from recipe_category rc inner join material_all ma
			on rc.category_num = ma.matall_num
		where recipe_num = #{recipe_num}
		order by rc.category_num asc
	</select>
	
	<!-- 
	<select id="getListWithPaging" resultType="recipe">
		<![CDATA[
			select recipe_num, member_id, recipe_title, recipe_content, recipe_time, recipe_readcount, recipe_best, recipe_date
			from (
					select /*+INDEX(RECIPE recipe_desc_index) */ rownum rn, recipe_num, member_id, recipe_title, recipe_content, recipe_time, recipe_readcount, recipe_best, recipe_date
					from RECIPE
					where rownum <= #{pageNum} * #{amount}
				)
			where rn > (#{pageNum} - 1) * #{amount}
		]]>		
	</select>
	
	 -->
	
	<select id="getTotalCount" resultType="int">
		select count(*)
		from recipe
		<where>
			<if test="keyword != null and keyword !=''">
				recipe_title like '%' || #{keyword} || '%'
			</if>
		</where>
	</select>
	
	<select id="getListWithPaging" resultType="recipe">
		<![CDATA[			
			select recipe_num, member_id, recipe_title, recipe_content, recipe_time, recipe_readcount, recipe_best, recipe_date
			from (
					select /*+INDEX(RECIPE recipe_desc_index) */ rownum rn, recipe_num, member_id, recipe_title, recipe_content, recipe_time, recipe_readcount, recipe_best, recipe_date
					from RECIPE
					where			
		]]>
		
		<if test="keyword != null and keyword !=''">
					recipe_title like '%' || #{keyword} || '%' and
		</if>
		
		<![CDATA[
					rownum <= #{pageNum} * #{amount}
				)
			where rn > (#{pageNum} - 1) * #{amount}
		]]>		
	</select>
	
	<select id="getListWithPagingBestest" resultType="recipe">
		<![CDATA[			
			select recipe_num, member_id, recipe_title, recipe_content, recipe_time, recipe_readcount, recipe_best, recipe_date
			from (
					select /*+INDEX(RECIPE recipe_best_desc_index) */ rownum rn, recipe_num, member_id, recipe_title, recipe_content, recipe_time, recipe_readcount, recipe_best, recipe_date
					from RECIPE
					where recipe_best >= 0 and		
		]]>
		
		<if test="keyword != null and keyword !=''">
					recipe_title like '%' || #{keyword} || '%' and
		</if>
		
		<![CDATA[
					rownum <= #{pageNum} * #{amount}
				)
			where rn > (#{pageNum} - 1) * #{amount}
		]]>
	</select>
	
	<select id="getRecipeSteps" resultType="recipeStep">
		select /*+INDEX(recipe_step recipe_step_index) */ *
		from recipe_step
		where recipe_num >= 0 and step_index >= 0 and recipe_num = #{recipe_num}
	</select>
	
	<select id="getRecipeCookImages" resultType="recipeCookImage">
		select *
		from cook_image
		where recipe_num = #{recipe_num}
		order by cook_num asc
	</select>
	
</mapper>
